<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.wangzhu.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartServlet1</display-name>
    <servlet-name>StartServlet1</servlet-name>
    <servlet-class>com.wangzhu.servlet.StartServlet1</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StartServlet2</display-name>
    <servlet-name>StartServlet2</servlet-name>
    <servlet-class>com.wangzhu.servlet.StartServlet2</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StartServlet3</display-name>
    <servlet-name>StartServlet3</servlet-name>
    <servlet-class>com.wangzhu.servlet.StartServlet3</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StartServlet4</display-name>
    <servlet-name>StartServlet4</servlet-name>
    <servlet-class>com.wangzhu.servlet.StartServlet4</servlet-class>
    <init-param>
      <param-name>initName</param-name>
      <param-value>demoServlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DispatcherServlet1</display-name>
    <servlet-name>DispatcherServlet1</servlet-name>
    <servlet-class>com.wangzhu.servlet.DispatcherServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet1</servlet-name>
    <url-pattern>/DispatcherServlet1</url-pattern>
  </servlet-mapping>
</web-app>